*{
    font-family: sans-serif;
}
h1{
    color: #fff;
}
.card{
    max-width: 450px;
    padding: 20px;
}
h4{
    color:green;
}
body{
    background: url(../images/expoert-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    padding-top: 20px;
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
span{
    color:crimson;
}
